<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
    </div>  
    <a class="navbar-brand" id="logo">TMC-MailBox</a>
    
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><span style="font-size:60px;cursor:pointer" onclick="openNav()">&#9776;</span></li>
      </ul>
      <!--<form class="navbar-form navbar-left">-->
      <!--  <div class="form-group">-->
      <!--    <input type="text" class="form-control" placeholder="Search">-->
      <!--  </div>-->
      <!--  <button type="submit" class="btn btn-default">Submit</button>-->
      <!--</form>-->
      <ul class="nav navbar-nav">
        
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to '<span style="font-size:50px" class="glyphicon glyphicon-envelope"></span>'.html_safe, articles_path %></li>
        <li><%= link_to '<span style="font-size:50px" class="glyphicon glyphicon-search"></span>'.html_safe, '#' %></li>
        <li><%= link_to '<span style="font-size:50px" class="glyphicon glyphicon-pencil"></span>'.html_safe, new_article_path %></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div id="mySidenav" class="sidenav">
  <%= link_to '<span class="glyphicon glyphicon-home"></span> Home'.html_safe, root_path %>
  <%= link_to '<span class="glyphicon glyphicon-envelope"></span> Articles'.html_safe, articles_path %>
  <a href="#"><span class="glyphicon glyphicon-folder-open"></span> Archieve</a>
  <a href="#"><span class="glyphicon glyphicon-bookmark"></span> Drafts</a>
  <a href="#"><span class="glyphicon glyphicon-trash"></span> Junk</a>
</div>

<script>
  function openNav() {
    if (document.getElementById("mySidenav").style.width != "250px") {
      document.getElementById("mySidenav").style.width = "250px";
      document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
    }
    else{
      document.getElementById("mySidenav").style.width = "0";
      document.body.style.backgroundColor = "white";
    }
}
</script>